  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class='list-inline text-center'>
            <li><a href='https://pitchplay.io'>PitchPlay</a></li>
            <li><a href='https://pitchplay.io/about'>About</a></li>
            <li><a href='https://pitchplay.io/privacy'>Privacy</a></li>
            <li><a href='https://pitchplay.io/tos'>Terms</a></li>
            <li><a href='https://twitter.com/pitchplayio'>Twitter</a></li>
            <li><a href='https://facebook.com/pitchplayio'>Facebook</a></li>
            <li><a href='/feed.xml'>Feed</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <p class="muted text-center">
          Copyright &copy; {{ site.time | date: "%Y" }} - PitchPlay
        </p>
      </div>
    </div>
  </footer>
  <!-- javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
