@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  position: relative;
  min-height: 100%;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: ghostwhite;
}
body { margin-bottom: 150px; background-color: ghostwhite; }

h1 { font-size: 36px; }
h2 { font-size: 26px; }

header {
  background: url('/assets/img/bg.png');
  border-bottom: 2px solid #808080;
  padding: 0 10%;
  height: 55px;
  margin-bottom: 10px;
}

section + section {
  margin-top: 20px;
}

@media (max-width: 600px) {
  header {
    padding: 0 5%;
  }
}


@media (min-width: 1200px) {
  .container { width: 80%; }
}

nav {
  border-bottom: solid 1px transparent;
}

footer {
  position: absolute;
  background: whitesmoke;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.blog-header {
  display: block;
  font-size: 18px;
  color: #ccc;
  padding: 20px 20px;
}

.blog-header:hover {
  text-decoration: none;
  color: #ccc;
}

.navbar, .navbar-default {
  background: none;
  border: 0;
}

  .navbar img {
    float: left;
    margin-top: 4px;
    height: 50px;
  }

  .active {
    background-color: #F8AE1B;
    color: #FFF;
    font-weight: 700;
    margin-top: 40px;
  }

.post-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
.post-list li {
  margin-top: 20px;
}

.post-list-title {
  font-size: 2em;
}

.post-body h4 {
  margin-bottom: 20px;
}

.post-body img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.post-recent {
  margin-top: 20px;
}

.adsense-right {
  margin: 20px auto;
}

.post-body table, .post-body tr, .post-body td, .post-body th {
  border: 1px solid black;
  padding: 5px;
}

.post-body table {
  margin:10px 0 10px 0;
}

.post-body code {
  background-color:#EAEAEA;
  color:#000;
}
