@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  position: relative;
  min-height: 100%;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: ghostwhite;
}
body { margin-bottom: 70px; }
h1,h2,h3,h4,h5,h6 { 
  margin: 5px 0 0 0;
  padding: 0;
}

header {
  background: url('/assets/img/bg.png');
  border-bottom: 1px solid #626A6D;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar, .navbar-default {
  background: none;
  border: 0;
}

  .navbar img {
    margin-top:10px;
  }

  .active {
    background-color: #F8AE1B;
    color: #FFF;
    font-weight: 700;
    margin-top: 40px;
  }

.post-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
.post-list li {
  margin-top: 20px;
}

.post-list-title {
  font-size: 2em;
}

.post-body h4 {
  margin-bottom: 20px;
}

.post-body img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.adsense-header, .adsense-right {
  border: 1px solid black;
  background-color: #FFF;
}

  .adsense-header {
    margin: 10px 0 10px 0;
    width: 760px;
    height: 90px;
  }

  .adsense-right {
    margin-top: 20px;
    width: 300px;
    height: 600px;
  }
