@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  position: relative;
  min-height: 100%;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: ghostwhite;
}
body { margin-bottom: 150px; background-color: ghostwhite; }

h1 { font-size: 36px; }
h2 { font-size: 26px; }

header {
  background: url('/assets/img/bg.png');
  border-bottom: 2px solid #808080;
  padding: 0 10%;
  height: 55px;
  margin-bottom: 10px;
}

section + section {
  margin-top: 20px;
}

@media (max-width: 600px) {
  header {
    padding: 0 5%;
  }
}


@media (min-width: 1200px) {
  .container { width: 80%; }
}

nav {
  border-bottom: solid 1px transparent;
}

footer {
  position: absolute;
  background: whitesmoke;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.blog-header {
  display: block;
  font-size: 18px;
  color: #ccc;
  padding: 20px 20px;
}

.blog-header:hover {
  text-decoration: none;
  color: #ccc;
}

.navbar, .navbar-default {
  background: none;
  border: 0;
}

  .navbar img {
    float: left;
    margin-top: 4px;
    height: 50px;
  }

  .active {
    background-color: #F8AE1B;
    color: #FFF;
    font-weight: 700;
    margin-top: 40px;
  }

.post-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
.post-list li {
  margin-top: 20px;
}

.post-list-title {
  font-size: 2em;
}

.post-body h4 {
  margin-bottom: 20px;
}

.post-body img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.post-recent {
  margin-top: 20px;
}

.adsense-right {
  margin: 20px auto;
}

.post-body table, .post-body tr, .post-body td, .post-body th {
  border: 1px solid black;
  padding: 5px;
}

.post-body table {
  margin:10px 0 10px 0;
}

.post-body code {
  background-color:#EAEAEA;
  color:#000;
}

.sidebar {
  border-left: 1px solid #ccc;
}
.sidebar section {
  padding: 10px 30px;
}
.sidebar section + section {
  border-top: 1px solid #ccc;
}
.about {
  padding: 40px 0 10px 0;
}

.about p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 24px;
}

.about iframe {
  margin-bottom: 5px;
}

.social {
  text-align: center;
}

.social h1 {
  font-weight: 700;
  font-size: 14px;
}

.social ul {
  list-style: none;
}

.social li {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.social li a {
  color: white;
  font-size: 12px;
  transition: all 300ms linear;
  padding: 1px 5px 8px 0;
  line-height: 23px;
}

.social li a .fa {
  padding: 0 3px 0 5px;
}

.social li:hover {
  opacity: .9;
}
.social li a:hover {
  text-decoration: none;
}

.social-facebook {
  background: #3b5998;
  border-color: rgba(0, 0, 0, .2);
}
.social-google {
  background: #dd4b39;
  border-color: rgba(0, 0, 0, .2);
}
.social-twitter {
  background: #55acee;
  border-color: rgba(0, 0, 0, .2);
}
blockquote {
  font-style: italic;
  font-weight: 200;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
