{% include head.html %}
<body>
{% include header.html %}
  <section class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <!-- <div class="adsense-header img-responsive"></div> -->
        <ul class="post-list">
          {% for post in site.posts %}
          <li>
            <a class="post-list-title" href="{{ post.url }}">{{ post.title }}</a>
            <p> {{ post.content | strip_html | truncatewords:80 }}</p>
            <a href="{{ post.url }}">Read More...</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        {% include post_sidebar.html %}
      </div>
    </div>
  </section>
{% include footer.html %}
</body>
</html>
